@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  /* sedgwick-ave-display-regular - latin */
  font-family: 'Sedgwick Ave Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sedgwick-ave-display-v6-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('../fonts/sedgwick-ave-display-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/sedgwick-ave-display-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/sedgwick-ave-display-v6-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/sedgwick-ave-display-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/sedgwick-ave-display-v6-latin-regular.svg#SedgwickAveDisplay') format('svg');
  /* Legacy iOS */
}
.handwritting {
  font-family: 'Sedgwick Ave Display', handwritting;
}
* {
  transition: 0.3s all;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
@keyframes mymove1 {
  from {
    background: repeating-radial-gradient(#45e2f4, red);
    color: black;
  }
  to {
    background: repeating-radial-gradient(red, #45e2f4);
    color: springgreen;
  }
}
@keyframes jiggle {
  0% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.025);
  }
  60% {
    transform: scale(0.975);
  }
  70% {
    transform: scale(1.02);
  }
  80% {
    transform: scale(0.985);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #45e2f4;
  padding: 0 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.mynav__theme {
  outline: none;
  border: none;
  padding: 8px 20px;
  background: #9CCC65;
  border-radius: 7px;
  cursor: pointer;
}
.mynav__theme:active {
  box-shadow: inset 0 0 20px -3px rgba(0, 0, 0, 0.6);
}
.mynav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mynav__item {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 15px;
}
.mynav__item:hover {
  background-color: #75eaf7;
}
.mynav__link {
  font-size: 17px;
  color: #fff;
}
.mynav__link:hover {
  font-size: 19px;
}
.main {
  padding: 40px 0;
}
.main__content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}
.main__tile {
  padding: 20px;
  width: 18%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #d594c5;
}
.main__tile--danger .main__header,
.main__tile--danger .main__plus {
  color: #FF1744;
}
.main__tile--success .main__header,
.main__tile--success .main__plus {
  color: #00E676;
}
.main__tile--warning .main__header,
.main__tile--warning .main__plus {
  color: #EF6C00;
}
.main__tile--primary .main__header,
.main__tile--primary .main__plus {
  color: #0097A7;
}
.main__header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 21px;
  font-family: 'Sedgwick Ave Display', handwritting;
}
.main__features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
.main__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.main__footer {
  text-align: center;
}
.main__button {
  opacity: 0.7;
  outline: 0;
  padding: 8px 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  background: transparent;
}
.main__button--danger {
  border-color: #FF1744;
  background: repeating-radial-gradient(#45e2f4, red);
}
.main__button--danger:hover {
  color: #805776;
  transform: translateX(50px);
  animation: mymove1 5s forwards;
}
.main__button--danger:active {
  color: #805776;
  transform: rotate(-180deg);
}
.main__button--success {
  border-color: #00E676;
  background: repeating-radial-gradient(#01f706, #d594c5 /*#f300df*/);
}
.main__button--success:hover {
  animation: jiggle 3s forwards ease-in-out;
}
.main__button--primary {
  border-color: #0097A7;
  position: relative;
  overflow: hidden;
  background: repeating-radial-gradient(#dff705, #0340ae);
}
.main__button--primary:hover {
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}
.main__button--primary:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.main__button--primary:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.main__button--warning {
  border-color: #EF6C00;
  color: #fff;
  background-image: linear-gradient(90deg, #ED4264, #FFEDBC);
  background-position: 0 0;
}
.main__button--warning:hover {
  background-position: 123px;
}
